@import "../../scss/variables.scss";
.jobpost {
    display: grid;
    height: 40rem;
    width: 70rem;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 8px rgb(230, 230, 230);
    border-radius: 16px;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
    animation: appear 1s forwards ease-in-out;
}

.desc {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    background: #000046;
    background: linear-gradient(to top, $secondary, $primary);
}

.progressCon {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.progress {
    display: flex;
    width: 80%;
    height: 0.75rem;
    margin: 4rem 0;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.253);
    overflow: hidden;
    margin-bottom: 0.5rem;

    .progInner {
        background-color: $secondary;
        height: 100%;
        border-radius: 50px;
        transition: width 1s ease-in-out;
    }
}

.progTags {
    display: flex;
    width: 80%;
    justify-content: space-between;
    p {
        margin: 0;
        color: white;
        font-weight: 400;
        transition: all 0.15s ease-in-out;
    }

    .activeTag {
        transform: scale(1.1);
        text-shadow: 0 0 10px $secondary;
    }
}

.content {
    display: flex;
    width: 80%;
    margin-top: 3rem;
    flex-direction: column;
    animation: appearBasic 1s forwards ease-in-out;
    h1 {
        font-family: $fontHero;
        color: white;
    }
    p {
        font-size: 1rem;
        color: white;
        line-height: 150%;
    }
}

.form {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    .formCon {
        display: flex;
        flex-direction: column;
        width: 80%;
        justify-content: center;
        height: 100%;
        animation: appear 1s forwards ease-in-out;

        h2 {
            margin-bottom: 0.5rem;
        }

        p{
            line-height: 150%;
        }

        input,
        select,
        textarea {
            margin-top: 0.7rem;
            height: 1.8rem;
            width: 100%;
            border: 1.5px solid rgb(231, 231, 231);
            border-radius: 4px;
            padding: 0 1rem;
            &:focus {
                outline: 2px solid $primary;
            }
        }
        
        textarea{
            height: auto;
            box-shadow: 0 0 15px whitesmoke;
            border-radius: 15px;
            padding: 1rem;
            box-sizing: border-box;
        }
 
        select {
            height: 2rem;
            padding: 0 0.25rem;
            margin: 0;
        }

        .subText {
            display: flex;
            flex-direction: column;
            margin-top: 2rem;
            h4 {
                margin: 1rem 0;
            }
            ul {
                list-style: none;
                margin: 0;
                padding: 0;
                li {
                    margin: 0.75rem 0;
                }
            }
        }

        .btnCon {
            display: flex;
            width: 100%;
            margin-top: 3rem;
            justify-content: center;
            gap: 2rem;
        }
    }
}

#skillKeyInput {
    box-sizing: border-box;
    padding: 0 0.5rem;
}

.example {
    margin-right: auto;
    font-size: 0.85rem;
    margin-bottom: 0;
}

.skillCon {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    height: 8rem;
    overflow-y: auto;
    border: 1px solid rgb(226, 226, 226);
    border-radius: 15px;
    box-shadow: 0 0 15px rgb(240, 240, 240);
    &::-webkit-scrollbar {
        width: 6px;
        background-color: #d1d1d1;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #555;
    }
    .skill {
        background-color: rgb(240, 240, 240);
        border-radius: 15px;
        padding: 0.25rem 0.75rem;
        margin: 0.5rem 0.5rem;
        height: min-content;
        transition: all 500ms ease-in-out;
        cursor: pointer;
        position: relative;
        justify-content: center;
        align-items: center;
        animation: appear 0.15s ease-in-out forwards;
        p {
            color: rgb(63, 62, 62);
            margin: 0;
            font-weight: bold;
            font-size: 0.9rem;
        }

        &:hover {
            &:after {
                content: "x";
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
                background-color: rgba(255, 50, 50, 0.644);
                border-radius: 15px;
                padding: 0;
                color: white;
                position: absolute;
                margin-left: auto;
                margin-right: auto;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                text-align: center;
                animation: appearBasic 0.5s ease-in-out forwards;
            }
        }
    }
}

.skillSuggestCon {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    z-index: 100;
}

.skillSuggest {
    display: none;
    width: 100%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 3px 8px gainsboro;
    border-radius: 8px;
    position: absolute;
    margin-top: 3rem;
    flex-direction: column;
    max-height: 5rem;
    overflow-y: auto;
    padding: 0.5rem 0;

    &::-webkit-scrollbar {
        width: 6px;
        background-color: #d1d1d1;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #555;
    }

    p {
        margin: 0.15rem 0;
        padding: 0.25rem 0.5rem;
        cursor: pointer;
        font-size: 0.8rem;
        &:hover {
            background-color: rgba(226, 226, 226, 0.404);
        }
    }

    .preTag {
        font-weight: bold;
        cursor: not-allowed;
        &:hover {
            background-color: transparent;
        }
        border-bottom: 1px solid gainsboro;
    }
}

.typeOfBudget {
    display: flex;
    width: 100%;
    height: 4rem;
    justify-content: space-between;
    span {
        display: flex;
        height: 100%;
        width: 45%;
        box-shadow: 0 0 8px rgb(212, 212, 212);
        border-radius: 50px;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        cursor: pointer;

        img {
            height: 2.5rem;
            object-fit: contain;
        }
        p {
            color: $primary;
            font-weight: 600;
            font-size: 1.25rem;
        }

        &:hover {
            box-shadow: 0 0 15px $secondary;
        }
    }

    .selected {
        background-color: $primary;
        p {
            color: white;
        }
    }
}

.budgetInput {
    display: flex;
    width: 100%;
    justify-content: space-evenly;

    .hourRate {
        display: flex;
        flex-direction: column;
        align-items: center;
        animation: appear 0.5s ease-in-out forwards;
        p {
            margin: 0;
            margin-bottom: 0.25rem;
            font-weight: 600;
        }
        .inBox {
            display: flex;
            align-items: center;
            box-shadow: 0 0 8px rgb(187, 187, 187);
            border-radius: 50px;
            padding: 0.25rem 1rem;
            input {
                border: none;
                margin-top: 0;
                width: 4rem;
                font-size: 1.25rem;
                text-align: right;
                &:focus {
                    outline: none;
                }
            }
        }
    }
}

.resume{
    margin-top: 1rem;
    
    label{
        display: flex;
        background-color: white;
        box-shadow: 0 0 15px gainsboro;
        height: min-content;
        border-radius: 15px;
        cursor: pointer;
    }

    p{
        margin: auto 0;
        line-height: auto;
        font-size: 0.8rem;
        font-weight: 600;

       
    }


    h2{
        background-color: $secondary;
        font-size: 0.8rem;
        font-weight: 600;
        color: white;
        width: max-content;
        height: max-content;
        padding: 0.35rem 1rem;
        border: 2px solid $secondary;
        border-radius: 15px;
        margin: 0;
        margin-right: 1rem;
        margin-bottom: 0 !important;
        box-sizing: border-box;
        transition: all 0.25s ease-in-out;

        &:hover{
            background-color: transparent;
            color: $secondary;
        }
    }
}

@keyframes appear {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes appearBasic {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}