@import "../.././scss/variables.scss";

.con {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    background-color: rgb(255, 255, 255);
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.review {
    display: flex;
    width: 60rem;
    box-shadow: 0 0 15px gainsboro;
    margin: 4rem 0;
    border-radius: 15px;
    padding: 4rem;
    box-sizing: border-box;
    flex-direction: column;
    animation: appearBasic 0.7s ease-in-out forwards;
}

.title {
    display: flex;
    width: 100%;
    height: min-content;
    border-bottom: 3px solid $primary;
    margin-bottom: 2rem;

    h1 {
        margin: 0;
        margin-bottom: 0.7rem;
        font-size: 3.5rem;
        color: $primary;
    }
}

.field {
    display: flex;
    flex-direction: column;

    .label {
        font-size: 1rem;
        margin-bottom: 0.5rem;
        font-weight: 500;
        margin-left: 0.5rem;
    }

    .value {
        font-size: 1rem;
        margin-top: 0;
        font-family: $fontHero;
        // background-color: rgb(240, 247, 255);
        border: 1px solid rgb(202, 202, 202);
        padding: 0.5rem 0.5rem;
        border-radius: 8px;
        position: relative;
      //  min-height: 1.7rem;
    }
      
    .desc{
        padding-right: 2rem;
        line-height: 150%;
        overflow: hidden;
        font-size: 0.9rem;
        .editIcon{
            bottom: auto;
            top: 0;
            margin-top: 1rem
        }
    }


}

.fieldCat{
    @extend .field;
    .value{
        display: flex;
        padding-right: 2rem;
        flex-wrap: wrap;
    }
}

.category{
    display: flex;
    width: max-content;
    height: 2rem;
    background-color: $secondary;
    border-radius: 15px;
    justify-content: center;
    padding: 0 1rem;
    margin: 0.5rem 0.25rem;
    font-size: 1.25rem;
    align-items: center;
}


.fileUpload{
    p{
        border: 2px solid $secondary;
        cursor: pointer;
        padding: 0.15rem 1rem;
        width: max-content;
        border-radius: 15px;
        color: $secondary;
        font-weight: 600;
    }
}

.pair{
    display: flex;
    margin: 1rem 0;
    border-bottom: 1px solid gainsboro;
    .label{
        margin-right: 0.5rem;
        font-size: 1.25rem;
    }

    .value{
        font-weight: 500;
        text-transform: capitalize;
        font-size: 1.25rem;
        position: relative; 
        width: 85%;
        margin-left: auto;
        font-family: $fontHero;
    }
    
}



.btn{
  width: 12rem;
  margin: 0 2rem;
  margin-top: 5rem;
}

.btnNav{
    display: flex;
    width: 100%;
    justify-content: center;
}

.editIcon {
    display: flex;
    cursor: pointer;
    position: absolute;
    height: 1.5rem;
    width: 1.5rem;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto 0.5rem;
    background-color: $secondary;
    -webkit-mask-image: url('./edit-regular.svg');
    mask-image: url('./edit-regular.svg');
    mask-repeat: no-repeat;
}

@keyframes appear {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes appearBasic {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


@keyframes slideLeft {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translateX(100%);
    }
}

@keyframes appearSlideLeft {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}