@import "../../../scss/variables.scss";

.steps {
    display: flex;
    width: 40rem;
    background-color: white;
    box-shadow: 0 0 8px rgb(230, 230, 230);
    border-radius: 8px;
    flex-direction: column;
    // background: url('./wave.svg');
    height: 39rem;
    background-repeat: no-repeat;
    background-position: bottom;
    animation: appear 0.8s ease-in-out forwards;
    overflow: hidden;
    padding-bottom: 2rem;
}

.headTitle {
    display: flex;
    margin: 2.5rem 2.5rem;
    border-bottom: 3px solid $primary;
    height: min-content;
    padding-bottom: 1rem;
    margin-bottom: 0.5rem;
    h1 {
        margin: 0;
        font-size: 42px;
    }
    .head {
        color: $primary;
    }
    .tail {
        color: $secondary;
        margin-left: 0.5rem;
    }
}

.conSignUp {
    display: flex;
    flex-grow: 1;
    margin: 1.25rem 3rem;
    margin-top: 1rem;
    flex-direction: column;
    animation: appearSlideLeft 0.5s ease-in-out forwards;
}

.conSignUpTwo {
    @extend .conSignUp;
    animation: appearSlideLeft 0.5s ease-in-out forwards;
}

.auth {
    display: flex;
    width: 100%;
    background-color: white;
    justify-content: center;
    margin: 1.5rem 0;
    span {
        display: flex;
        align-items: center;
        width: 14.5rem;
        box-shadow: 0 0 8px rgb(212, 212, 212);
        padding: 1rem;
        border-radius: 50px;
        justify-content: space-between;
    }
    img {
        height: 1.8rem;
    }

    p {
        margin: 0;
        font-weight: 600;
        font-size: 1.1rem;
        font-family: $fontHero;
        color: rgb(71, 71, 71);
    }
}

.or {
    display: flex;
    width: 100%;
    justify-content: center;
    h3 {
        color: gray;
        margin: 0.5rem;
    }
}

.tag {
    font-size: 1rem;
    margin-bottom: 1.5rem;
    color: gray;
}

.row {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    label {
        p {
            font-size: 1rem;
            margin: 0;
            font-weight: 600;
        }

        input {
            margin-top: 0.7rem;
            height: 1.8rem;
            width: 14rem;
            border: 1.5px solid rgb(231, 231, 231);
            border-radius: 4px;
            padding: 0 0.5rem;
          
            &:focus {
                outline: 2px solid $primary;
            }
        }
    }

    .email {
        width: 100%;
        input {
            width: 70%;
        }
    }
}

.secureAuth{
    animation: appearBasic 1s forwards ease-in-out;
}

.conSignUpTwo {
    .user {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        p {
            font-family: $fontHero;
            font-size: 1.25rem;
            color: rgb(92, 92, 92);
            font-weight: 600;
            margin-bottom: 1rem;
        }

        h1 {
            margin: 0;
            font-size: 2rem;
            font-weight: 600;
            color: $secondary;
        }

        h3 {
            margin: 0;
            font-weight: 400;
            font-size: 1rem;
        }
    }

    .country {
        display: flex;
        margin-top: 2rem;
        box-shadow: 0 0 8px rgb(212, 212, 212);
        border-radius: 50px;
        overflow: hidden;
        height: min-content;
        padding: 0 0.7rem;
        select {
            
            height: 2.5rem;
            width: 100%;
            // border: 1.5px solid rgb(231, 231, 231);
            border: none;
           
            font-size: 1rem;
            padding: 0 0.3rem;
           
            &:focus {
                outline: none;
            }
        }
    }

    .userType{
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        .tag {
            font-family: $fontHero;
            font-size: 1.25rem;
            color: rgb(92, 92, 92);
            font-weight: 600;
            margin-bottom: 0;
            margin-top: 2rem;
        }

        .selectType{
            display: flex;
            box-shadow: 0 0 8px rgb(212, 212, 212);
            border-radius: 50px;
            margin: 1.5rem 0;
            overflow: hidden;
            position: relative;
            
            &:after{
                content: "";
                display: flex;
                position: absolute;
                left: 50%;
                right: 50%;
                width: 2.5px;
                height: 100%;
                background-color: rgb(243, 243, 243);
            }
           
         
            
            
        }

        .tab{
            display: flex;
            padding: 0 1rem;
            justify-content: center;
            align-items: center;
            width: 10rem;
            cursor: pointer; 

            p{
                font-family: $fontHero;
                font-weight: 500;
            }
            
            &:hover{
                p{color: $secondary;}
            }
           
        }

        .selected{
            @extend .tab;
            background-color: $primary;
            p{
                color: white;
                font-weight: 600;
            }

            &:hover{
                p{color: white;}
            }
        }

        .unSelected{
            @extend .tab;

            &:hover{
                p{color: $primary;}
            }
        }
    }

    .navigate{
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 1rem;
        gap: 2rem;
    }

    .terms{
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: center;
        margin-top: 1.25rem;
        p{
            margin-left: 0.5rem;
        }

    }
}

.button {
    margin: 0 auto;
    margin-top: 1rem;
}

//animations

@keyframes appear {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.animateSlideLeft {
    animation: slideLeft 0.5s ease-in-out forwards;
}

@keyframes appearBasic {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


@keyframes slideLeft {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translateX(100%);
    }
}

@keyframes appearSlideLeft {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
